body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 95vh;
    background-color:rgb(18, 19, 19);
    border: 15px solid purple;
}

h1 {
    font-size: 20rem;
    font-family: 'Architects Daughter', cursive;
}

.letter {
    transition: color 1000ms;
}